@model List<KitapTuru>

@if (TempData["basarili"] != null)
{
    <div class="alert alert-success">
        <h4 class="alert-heading">@TempData["basarili"]</h4>
    </div>
}

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col">
            <h1 class="text-center pt-4">Kitap Türleri</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Kitap Türü</th>
                        <th class="text-center">Güncelle</th>
                        <th class="text-center">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kitapTuru in Model)
                    {
                        <tr>
                            <td>@kitapTuru.Id</td>
                            <td>@kitapTuru.Ad</td>
                            <td class="text-center">
                                <a asp-controller="KitapTuru" asp-action="Guncelle" asp-route-id="@kitapTuru.Id" class="btn btn-primary btn-sm">
                                    Güncelle
                                </a>
                            </td>
                            <td class="text-center">
                                <a asp-controller="KitapTuru" asp-action="Sil" asp-route-id="@kitapTuru.Id" class="btn btn-danger btn-sm">
                                    Sil
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <a asp-controller="KitapTuru" asp-action="Ekle" class="btn btn-lg btn-success">
                Yeni Kitap Türü Oluştur
            </a>
        </div>
    </div>
</div>
